<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Nike.dev Manga Shop</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error iusto debitis doloribus temporibus in, optio
        reprehenderit veniam quaerat nostrum consectetur amet perferendis incidunt exercitationem consequatur eos nam
        modi. Et, exercitationem?</p>
    <a href="https://www.google.com">Link</a>
    <a href="/product/1">Manga 1</a>
    <a href="/product/2">Manga 2</a>
    <a href="/product/3">Manga 3</a>
</body>

</html>